extends layout
block content
        h1 #{title}
        form(method='POST', action='/games/add')
            #form-group
                label Title:
                input.form-control(name='title', type='text')
            
            #form-group
                label Genre:
                input.form-control(name='genre', type='text')
            
            #form-group
                label Rating:
                input.form-control(name='rating', type='text')



            input.btn.btn-primary(type='submit', value='Submit')