extends layout
block content
        h1 #{title}
        ul.list-group
            each game, i in games
                li.list-group-item 
                    a(href="/games/" + game._id)= game.title