@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Foo Bar University University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Foo Bar University</h2>
        <p>Sample Web application using ASP.NET MVC 5 + Entity Framework 6
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>This Tutorial can be found at the following link</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">See the tutorial &raquo;</a></p>
    </div>
    
</div>